# Node modules
node_modules/

# Build artifacts
/build/
/dist/
/out/
.parcel-cache/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage reports
/coverage/

# IDE or editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak

# Babel cache
.cache/

# Lint cache
.eslintcache

# macOS Finder files
.DS_Store

# TypeScript build artifacts
*.js
*.js.map
*.d.ts
